* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    max-height: 100%;
    padding: auto;
}

#home {
    margin-top: 0;
}

#container {
    background: #dcdcdc;
    display: flex;
}

#coluna {
    background: #cfa116;
}

span {
    font-weight: 900;
}